.slide-home-banner{
    .swiper-button-prev,
    .swiper-button-next{
        background: rgba(196, 1, 1, 0.3);
        padding: 30px;
        border-radius: 50%;
        @media screen and (max-width: 920px){
            padding: 25px;
        }

        &::after{
            font-size: 28px;
            color: $white-color;
            opacity: 0.8;
            @media screen and (max-width: 920px){
                font-size: 24px;
            }
        }
        &:hover{
            background: rgba(196, 1, 1, 0.6);
            &::after{
                opacity: 1;
            }
        }
    }

    

    .banner{
        width: 100%;
        height: calc(100vh - 67px);
        position: relative;
        text-transform: uppercase;

        img{
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 686px) {
            height: calc(100vh - 200px);
        }
        .banner-info{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            
            // new academic section
            .academic-warpper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 40px;
                margin: 10% 10% auto 10%;

                
                h2 {
                    // position: absolute;
                    font-size: 60px;
                    color: $white-color;
                    text-transform: uppercase;
                    
                }

                h4 {
                    color: $white-color;
                    font-size: 35px;
                    color: rgb(214, 214, 214);
                }

                .btn-banner {
                    margin-right: auto;
                    border-radius: 10px;
                    background-color: rgb(255, 66, 66);;
                    color: $white-color;
                    padding: 5px 20px;
                    font-weight: bold;
                }

                @media screen and(max-width: 865px) {
                    h2 {
                        font-size: 40px;
                    }

                    h4 {
                        font-size: 25px;
                    }

                    .btn-banner {
                        font-size: 14px;
                    }
                }

                @media screen and(max-width: 500px) {
                    
                    h2 {
                        font-size: 32px;
                    }

                    h4 {
                        font-size: 18px;
                    }

                    .btn-banner {
                        font-size: 12px;
                    }
                }
                
            }
            .title{
                text-align: center;
                h2{
                    color: $white-color;
                    font-size: 80px;
                    
                }
            }
            > p{
                color: $white-color;
                font-size: 28px;
                max-width: 900px;
                margin-top: 40px;
                opacity: 0.8;
            }
            .btn-banner{
                color: $white-color;
                background: rgb(255, 66, 66);
                font-size: 28px;
                padding: 5px 15px;
                border-radius: 10px;
                margin-top: 40px;
                font-weight: bold;
                &:hover{
                    opacity: 0.8;
                }
            }
            @media screen and (max-width: 920px) {
                .title h2{
                    font-size: 60px;
                    
                }
                > p{
                    font-size: 22px;
                }
                .btn-banner{
                    font-size: 22px;
                }
            }
            @media screen and (max-width: 500px) {
                .title h2{
                    font-size: 40px;
                }
                > p{
                    font-size: 16px;
                }
                .btn-banner{
                    font-size: 18px;
                }
            }
        }
    }
}