.slide-home-banner{
    .swiper-button-prev,
    .swiper-button-next{
        background: rgba(196, 1, 1, 0.3);
        padding: 30px;
        border-radius: 50%;
        @media screen and (max-width: 920px){
            padding: 25px;
        }
        &::after{
            font-size: 28px;
            color: $white-color;
            opacity: 0.8;
            @media screen and (max-width: 920px){
                font-size: 24px;
            }
        }
        &:hover{
            background: rgba(196, 1, 1, 0.6);
            &::after{
                opacity: 1;
            }
        }
    }
    .banner{
        width: 100%;
        height: calc(100vh - 67px);
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 686px) {
            height: calc(100vh - 200px);
        }
        .banner-info{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            .title{
                text-align: center;
                h2{
                    color: $white-color;
                    font-size: 80px;
                }
            }
            > p{
                color: $white-color;
                font-size: 26px;
                max-width: 900px;
                margin-top: 40px;
                opacity: 0.8;
            }
            .btn-banner{
                color: $white-color;
                background: $primary-color;
                font-size: 28px;
                padding: 5px 15px;
                border-radius: 2px;
                margin-top: 40px;
                &:hover{
                    opacity: 0.8;
                }
            }
            @media screen and (max-width: 920px) {
                .title h2{
                    font-size: 60px;
                }
                > p{
                    font-size: 22px;
                }
                .btn-banner{
                    font-size: 22px;
                }
            }
            @media screen and (max-width: 500px) {
                .title h2{
                    font-size: 40px;
                }
                > p{
                    font-size: 16px;
                }
                .btn-banner{
                    font-size: 18px;
                }
            }
        }
    }
}