.department-schedule{
    padding: 60px 0;
    width: 100%;
    margin-top: 20px;
    background: #ffefef;
    .schedule-wrapper{
        padding: 0 20px;
        .title{
            width: 100%;
            h2{
                font-size: 45px;
                color: $primary-color;
                text-transform: uppercase;
            }
        }
        .choose-year{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            ul{
                display: flex;
                border: 1px solid $primary-color;
                padding: 0 20px;
                background: $white-color;
                li{
                    font-size: 22px;
                    font-weight: bold;
                    padding: 10px 15px;
                    cursor: pointer;
                    &.active{
                        border-bottom: 4px solid $primary-color;
                        color: $primary-color;
                    }
                }
            }
        }
        .body-table{
            margin-bottom: 20px;
            width: 100%;
            background: #ffefef;
            .semester{
                h3{
                    padding: 8px 10px;
                    font-size: 34px;
                    color: $primary-color;
                }
            }
            table{
                width: 100%;
                // border-spacing: 0 10px;
                -webkit-box-shadow: 0px 0px 2px 1px rgba(153,153,153,1);
                -moz-box-shadow: 0px 0px 2px 1px rgba(153,153,153,1);
                box-shadow: 0px 0px 2px 1px rgba(153,153,153,1);
                background-color: $white-color;

                tr{
                    &:hover{
                        background-color: #fff5f5;
                    }
                    th{
                        background: $primary-color;
                        color: $white-color;
                        padding: 15px 0;
                        font-size: 24px;
                    }
                    td{
                        font-size: 20px;
                        padding: 10px 0;
                        text-align: center;
                        &:first-child{
                            padding-left: 30px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}