#frm-submit {
    background-color: #FFF7F6;
    width: 100%;
    padding: 60px 10px 400px 10px;
 
    .wrapper {
        max-width: 900px;
        width: 100%;
        border-top: 10px solid rgba($primary-color, $alpha: .8);
        
        margin: 0 auto;
        background-color: $white-color;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(56,56,56,1);
        -moz-box-shadow: 0px 0px 2px 0px rgba(56,56,56,1);
        box-shadow: 0px 0px 2px 0px rgba(56,56,56,1);

        .container {
            padding: 30px 40px;
            
            > p:nth-child(1) {
                font-size: 32px;
                margin-bottom: 30px;
            }
        
            .link {
                font-size: 16px;
                margin-top: 20px;   
                text-decoration: underline;
                color: $primary-color;

                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}