.faculty{
    background: $section-color;
    padding: 60px 20px;
    .title{
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        h2{
            font-size: 45px;
        }
    }
    .faculty-container{
        .single-faculty{
            width: 100%;
            display: flex;
            gap: 20px;
            background: $white-color;
            margin: 10px 0;
            .left-style{
                background: $primary-color;
                flex-shrink: 0;
                flex-basis: 30px;
            }
            .info{
                padding: 25px 0;
                flex-grow: 1;
                h3{
                    font-size: 25px;
                    color: $primary-color;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}