.late-news-home{
    padding: 60px 20px;
    background: $section-color;
    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        padding: 60px 0;
        h2{
            text-transform: uppercase;
            font-size: 45px;    
        }
        .underline{
            width: 80px;
            height: 5px;
            background: $primary-color;
            border-radius: 5px;
        }
    }
    .late-news-wrapper{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        
        height: 750px;
        @media screen and (max-width: 950px) {
            grid-template-columns: 1fr;
            height: auto;
        }
        .left{
            overflow: hidden;
            height: 100%;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-self: center;
            background: $white-color;
            padding: 10px;
            @media screen and (max-width: 950px) {
                height: auto;
            }
            @media screen and (max-width: 540px) {
                    flex-direction: column;
                    align-items: flex-start;
            }
            .photo-box{
                height: 100%;
                flex: 1 1 50%;
                @media screen and (max-width: 950px) {
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .info{
                height: 100%;
                flex: 1 1 50%;
                .link-info{
                    display: flex;
                    flex-direction: column;
                    justify-items: flex-start;
                    height: 100%;
                    h3{
                        font-size: 34px;
                        color: $second-color;
                    }
                    p{
                        font-size: 22px;
                        color: $text-color;
                        margin-top: 25px;
                    }
                    span{
                        font-size: 22px;
                        margin-top: auto;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .right{
            overflow: hidden;
            height: 100%;
            display: grid;
            
            
            .box{
                background: $white-color;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                @media screen and (max-width: 950px) {
                    justify-content: flex-start;
                }
                .link-box{
                    display: flex;
                    height: 100%;
           
                   background: rgb(255, 216, 216);
                }
                .info{
                    font-size: 18px;
                    color: $second-color;
                    padding: 20px;
                    
                    h3 {
                        margin-bottom: 20px;
                        font-size: 30px;
                        opacity: .6;
                        &:hover {
                            color: $primary-color;
                            transition: .5s;
                            color: black;
                            opacity: 1;
                           
                            
                        }
                    }
                    span {
                        font-size: 22px;
                    
                        
                    }
                    .news-underline {
                        opacity: .6;
                        margin-top: 10px;
                        width: 90px;
                        height: 4px;
                        background: $primary-color;

                        
                    }
                }

                
            }
           
        }
    }
}