header{
    width: 100%;
    background-color: $white-color;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    @media screen and(max-width: 1326px) {
           
        padding: 10px;
    }
    @media screen and(max-width: 1030px) {
       
        padding: 5px;
    }
    @media screen and(max-width: 415px) {
       
        padding: 10px 18px;
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1500px;
        margin: 0 auto;
        
        .logo{
            display: flex;
            align-items: center;
            gap: 15px;
            img{
                width: 50px;
                @media screen and(max-width: 1030px) {
                    width: 45px;
                }
                @media screen and(max-width: 900px) {
                    width: 36px;
                }
                @media screen and(max-width: 680px) {
                    width: 30px;
                }
                @media screen and(max-width: 485px) {
                    width: 23px;
                }
                @media screen and(max-width: 415px) {
                    width: 35px;
                }
            }
            p{
                color: $primary-color;
                font-weight: bold;
                font-size: 2rem;

                @media screen and(max-width: 1326px) {
                    font-size: 1.5rem;
                }
                @media screen and(max-width: 1030px) {
                    font-size: 1.2rem;
                    padding: 0px;
                }
                @media screen and(max-width: 900px) {
                    font-size: 1rem;
                    
                }

                @media screen and(max-width: 680px) {
                    font-size: .7rem;
                    
                }
                @media screen and(max-width: 485px) {
                    font-size: .6rem;
                }
                @media screen and(max-width: 415px) {
                    font-size: 1.1rem;
                }

            }
            .search-box{
                display: none;
                .frm{
                    display: flex;
                    align-items: center;
                    position: relative;
                    .frm-control{
                        border: none;
                        outline: none;
                        width: 100%;
                        padding: 5px;
                        border-radius: 15px;
                    }
                    
                    .icon{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        color: $primary-color;
                    }

                    @media screen and(max-width: 1326px) {
                        .frm-control {
                            display: none;
                        }

                        .icon {
                            display: none;
                        }
                    }
                }
            }
            @media screen and (max-width: 1326px) {
            
                .search-box{
                    display: block;
                }
            }
        }
        ul.center{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            // @media screen and (max-width: 1050px) {
            //     display: none;
            // }
            li{
                text-transform: uppercase;
                padding: 1rem 1.2rem;
                cursor: pointer;
                color: $primary-color;
                font-size: 1.5rem;
                font-weight: 500;
                color: $primary-color;
                a{
                    color: inherit;
                }

                @media screen and(max-width: 1326px) {
                    font-size: 1.2rem;
                }

                @media screen and (max-width: 1030px) {
                    font-size: 1rem;
                    padding: .8rem 1rem;
                }

                @media screen and (max-width: 900px) {
                    font-size: .8rem;
                    padding: .8rem .7rem;
                }

                @media screen and(max-width: 680px) {
                    font-size: 9px;
                    padding: .7rem .5rem;
                    
                }
                @media screen and(max-width: 485px) {
                    font-size: 8px;
                    padding: .7rem .4rem;
                    
                }

                @media screen and (max-width: 415px) {
                    display: none;
                    
                }

                &:hover {
                    opacity: .7;
                    transition: .2s;
                }
                
        
                &.search{
                    
                    form{
                        width: 30px;
                        position: relative;
                        transition: 0.5s linear;
                        @media screen and (max-width: 1326px) {
                            display: none;
                        }
                        input{
                            transition: 0.5s linear;
                            width: 100%;
                            padding: .5rem;
                            outline: none;
                            border: none;
                            border-radius: 1rem;
                            padding-right: 1.5rem;
                            background: transparent;
                        }
                        .icon{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 0.4rem;
                            color: $primary-color;
                            font-size: 1.2rem;
                            
                            
                        }
                    }
                    &.active{
                        form{
                            width: 200px;
                            input{
                                background: white;
                                border: 1px solid $primary-color;
                                @media screen and (max-width: 1326px) {
                                    display: none;
                                }
                            }
                            .icon{
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            .btn-signup{
                background-color: $white-color;
                color: $primary-color;
                font-size: 20px;
                min-width: 98px;
                border: 1px solid $primary-color;
                padding: 10px 20px;
                
                &:hover{
                    background-color: $primary-color;
                    color: $white-color;
                    transition: .3s all linear;
                }

                @media screen and (max-width: 1326px) {
                    font-size: 13px;
                    padding: 7px 20px;
                }
                @media screen and (max-width: 1030px) {
                    font-size: 13px;
                    padding: 5px 20px;
                    
                }
                @media screen and (max-width: 900px) {
                    font-size: 10px;
                    // padding: 5px 18px;
                    min-width: 70px;
                    border: none;
                    
                }
                @media screen and (max-width: 680px) {
                    font-size: 8px;
                    // padding: 5px 18px;
                    min-width: 65px;
                    
                }
                @media screen and (max-width: 485px) {
                    font-size: 6px;
                    // padding: 5px 18px;
                    min-width: 60px;
                    
                }
                @media screen and (max-width: 415px) {
                    
                    display: none;
                    
                    
                }

            }
            .menu-icon{
                color: $primary-color;
                font-size: 30px;
                margin-right: 1rem;
                cursor: pointer;
                transition: .5s;
                display: none;
                &:hover{
                    transform: rotate(180deg);
                }

                
            }
            @media screen and (max-width: 415px){
                
                .menu-icon{
                    display: block;
                    
                }
            }
            .user{
                position: relative;
                color: $primary-color;
                width: 50px;
                height: 50px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    .dropdown{
                        display: block;
                        animation: slow-appear 0.3s linear;
                    }
                    @keyframes slow-appear {
                        from{
                            opacity: 0;
                        }
                        to{
                            opacity: 1;
                        }
                    }
                }
                .icon-user{
                    width: 100%;
                    height: 100%;
                    transition: 0.2s;
                    &:hover{
                        opacity: 0.8;
                    }
                }
                .dropdown{
                    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
                    display: none;
                    position: absolute;
                    width: 300px;
                    top: 100%;
                    transform: translateX(-95%);
                    background-color: #fff;
                    border-radius: 8px 0 8px 8px;
                    overflow: hidden;
                    .user-header{
                        color: $white-color;
                        width: 100%;
                        background: $primary-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 8px;
                        h3{
                            font-size: 22px;
                            color: $white-color;
                            word-break: break-all;
                        }
                        h4{
                            font-weight: normal;
                            font-size: 14px;
                            word-break: break-all;
                        }
                    }
                    ul.user-body{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0;
                        li{
                            font-size: 16px;
                            transition: 0.3s;
                            color: #000;
                            padding: 8px 10px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            cursor: pointer;
                            &:hover{
                                padding-left: 15px;
                                background: #ffdede;
                                color: $primary-color;
                            }
                            a{
                                color: inherit;
                            }
                        }
                    }
                    .user-footer{
                        width: 100%;
                        background: #FFEDED;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #000;
                        padding: 8px 15px;
                        font-weight: bold;
                        span{
                            font-weight: normal;
                        }
                        .icon-signout{
                            font-size: 16px;
                            cursor: pointer;
                            transition: 0.2s;
                            &:hover{
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}




/*header{
    width: 100%;
    padding: 0.5rem 10rem;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo img{
    width: 50px;
}
header .logo p{
    margin-left: 1rem;
    color: $white-color;
    font-weight: bold;
    font-size: 1.2rem;
}
header ul{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
header ul li{
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    color: $white-color;
    font-size: 1rem;
    font-weight: 500;
}


header ul li.search form{
    width: 30px;
    position: relative;
}



header ul li.search form input{
    width: 100%;
    padding: .3rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding-right: 1.5rem;
    background: transparent;
}


header ul li.search form .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.4rem;
    color: $primary-color;
    font-size: 1.2rem;
    color: $white-color;
}

header ul li.search.active form{
    width: 200px;
}
header ul li.search.active form input{
    background: white;
}
header ul li.search.active form .icon{
    color: $primary-color;
}

header .btn-signup{
    background-color: $white-color;
    color: $primary-color;
}
*/