.news-detail{
    padding: 20px;
    .news-detail-wrapper{
        .title{
            width: 100%;
            margin-bottom: 10px;
            h2{
                font-size: 45px;
            }
        }
        .view-date{
            width: 100%;
            span{
                font-size: 20px;
                color: #717171;
            }
        }
        .share-container{
            margin-top: 20px;
            width: 100%;
            display: flex;
            gap: 20px;
            button{
                flex-basis: 200px;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                outline: none;
                padding: 8px 0;
                font-size: 20px;
                color: $white-color;
                @media screen and (max-width: 450px) {
                    font-size: 16px;
                }
                &:hover{
                    opacity: 0.9;
                }
                &.btn-facebook{
                    background-color: #4267B2;
                }
                &.btn-twitter{
                    background-color: #1DA1F2;
                }
                &.btn-pinterest{
                    background-color: #229ED9;
                }
            }
        }
        .body-article{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 400px;
            gap: 40px;
            @media screen and (max-width: 930px) {
                grid-template-columns: 1fr;
            }
            .article-info{
                span, p{
                    font-size: 20px;
                    line-height: 170%;
                    text-align: justify;
                    @media screen and (max-width: 450px) {
                        font-size: 18px;
                    }
                }
                img{
                    width: 100%;
                    cursor: pointer;
                    margin: 20px 0;
                }
            }
            .most-recent{
                align-self: start;
                h3{
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }
        }
        .line-title{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 50px;
            h3{
                font-size: 34px;
            }
            hr{
                border: 2px solid $primary-color;
                background-color: $primary-color;
            }
        }
        .other-article-wrapper{
            margin-top: 20px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}